body {
  background-color: #FEFBE7;
}

hr {
  border: 6px dotted lightgray;
  border-style: none none dotted;
  border-width: 6.5px;
  height: 2px;
  width: 6%;
}

h1 {
  color: #68A7AD;
}

h3 {
  color: #68A7AD;
}